@import url('https://fonts.google apis.com/css2?family=JetBrains+Mono:ital@1&family=Open+Sans:ital@1&family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
}

@media (max-width: 1024px) {
    h1 {
        margin: 22rem 0rem;
    }
}

@media (max-width: 768px) {
    h1 {
        margin: 2rem 0rem;
    }
}

@media (max-width: 600px) {
    h1 {
        margin: 25px 0px;
    }
}

@media (max-width: 400px) {
    h1 {
        margin: 10px 0px;
    }
}

@media (max-width: 300px) {
    h1 {
        margin: 0;
    }
}



.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 480px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.player .main {
    width: 100%;
    height: 100%;
    background: #222;
    transition:all 500ms ease-in-out;
}

.player .main .thumbnail img {
    width: 100%;
}

.player .main .seekbar {
    margin-top: -15px;
}

.player .main .seekbar input[type="range"] {
    -webkit-appearance:none;
    width: 100%;
    height: 14px;
    outline: none;
    background: #aaa;
    overflow: hidden;
}

.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 0px;
    height: 0px;
    box-shadow: -300px 0px 0px 300px #00ff00;
}

.player .main .volumecontrol {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.player .main .volumecontrol input[type="range"] {
    margin: 0px 5px;
}

.player .main .details {
    text-align: center;
    padding: 5px 0px;
}

.player .main .details h2 {
    font-size: 18px;
    color: #eee;
    margin-bottom: 5px;
}

.player .main .details p {
    font-size: 15px;
    color: #aaa;
}

.player .main .controls {
    display: flex;
    justify-content: center;
    margin: 8px 0px;
}

.player .main .controls > div {
    margin: 0px 30px;
    cursor: pointer;
}

.player .main .controls i.fa {
    font-size: 25px;
    color: #ddd;
}

.player .main .controls > div.play-pause-control i.fa-play {
    display: none;
}

.player .main .controls > div.play-pause-control.paused i.fa-play {
    display: block;
}

.player .main .controls > div.play-pause-control.paused i.fa-pause {
    display: none;
}

i.fa-volume-down,
i.fa-volume-up {
    color: #aaa;
}

.player .player-list {
    position: absolute;
    width: 100%;
    margin-top: -20px;
    height: 350px;
    overflow-y: scroll;
    background: rgba(0,0,0,0.8);
    z-index: 2;
    transition:all 500ms ease-in-out;
}

.player .player-list .toggle-list {
    position: sticky;
    top: 0px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background: #555;
}

.player .player-list .toggle-list i.fa {
    color: #ccc;
    font-size: 20px;
    font-weight: 600;
}

.player .player-list .toggle-list i.fa-angle-down {
    display: none;
}

.player .player-list .toggle-list i.fa-angle-up {
    display: block;
}

.player .player-list .toggle-list.active i.fa-angle-down {
    display: none;
}

.player .list {
    padding: 10px;
}

.player .list .item {
    display: flex;
    padding: 5px 0px;
    border-bottom: 1px solid #222;
    cursor: pointer;
}

.player .list .item .thumbnail {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.player .list .thumbnail img {
    width: 100%;
    height: 100%;
}

.player .list .item .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.player .list .item .details h2 {
    color: #eee;
    font-size: 16px;
}

.player .list .item .details p {
    color: #aaa;
    font-size: 15px;
}

.player .player-list::-webkit-scrollbar {
    width: 5px;
    background: #222;
}

.player .player-list::-webkit-scrollbar-thumb {
    background: #009900;
}

.player.activeSongList .player-list {
    margin-top: -350px;
}

.player.activeSongList .main {
    filter: blur(5px);
}
